{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p>Trying to find information regarding immigrating to Canada can be hard, especially when it comes to niche and specific questions.
        <br> Where can I look to find the most cheaply priced and best quality clothes?
        <br> Can I get my driver license from my native country, transferred to Canada?
        <br> When do I need to renew my immigration documents?
        <br>
        <br> This is the place for you!
        <br> I am in the process of compiling a list of links and references that will give you answers to most of the questions you may have. And they are all available in this one single place.
        <br>
        <br>

        <br>Stay tuned for more updates :)  
    </p>
{% endblock %}